@import "tailwindcss";

:root {
	--white: #f7f7f7;
	--color-gray: #828282;
	--color-light-gray: #eeeeee;
	--color-dark-gray: #929aab;
	--color-dark-blue: #393e46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-roboto);
	font-weight: 500;
	letter-spacing: -0.03em;
}

h1 {
	font-size: 1.8rem;
	line-height: normal;
}

h2 {
	font-size: 1.7rem;
	line-height: normal;
}

h3 {
	font-size: 1.5rem;
	line-height: normal;
}

p {
	font-family: var(--font-source-serif-4);
	font-weight: 300;
	font-size: 1.1rem;
}

@theme inline {
	--font-roboto: var(--font-roboto);
	--font-source-serif-4: var(--font-source-serif-4);
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}
