@import "tailwindcss";

:root {
  --white: #F7F7F7;
  --color-gray: #828282;
  --color-light-gray: #EEEEEE;
  --color-dark-gray: #929AAB;
  --color-dark-blue: #393E46;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-roboto);
  font-weight: 500;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 1.8rem;
  line-height: normal;
}

h2 {
  font-size: 1.7rem;
  line-height: normal;
}

p {
  font-family: var(--font-source-serif-4);
  font-weight: 300;
  font-size: 1.1rem;
}

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-source-serif-4: var(--font-source-serif-4);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
