@import "tailwindcss";

:root {
	--color-white: #fbfbfb;
	--color-black: #212121;

	--color-gray-100: #eeeeee;
	--color-gray-400: #929aab;
	--color-gray-600: #828282;

	--color-dark-blue: #393e46;

	--color-bg-body: var(--color-white);
	--color-bg-surface: #f1f1f1;
	--color-bg-card: #ffffff;
	--color-bg-image: #e7e7e7;

	--color-text-primary: rgb(0, 0, 0, 0.6);
	--color-text-secondary: #4a4a4a;
	--color-icon: rgb(0, 0, 0, 0.87);

	--color-border: var(--color-gray-100);
}

.dark {
	--color-bg-body: #2a2a2a;
	--color-bg-surface: #1e1e1e;
	--color-bg-card: #2e2e2e;
	--color-bg-image: #2a2a2a;

	--color-text-primary: #f7f7f7;
	--color-text-secondary: #cccccc;
	--color-icon: #f7f7f7;

	--color-border: #393e46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-roboto);
	font-weight: 500;
	letter-spacing: -0.03em;
}

@theme inline {
	--font-roboto: var(--font-roboto);
	--font-source-serif-4: var(--font-source-serif-4);
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: var(--color-bg-body);
}

header {
	background-color: var(--color-bg-body);
	border-color: var(--color-border);
}

h1 {
	font-size: 2rem;
	font-weight: 500;
}

h2 {
	font-size: 1.4rem;
	font-weight: 500;
}

h1,
a,
p {
	color: var(--color-text-primary);
}

a:hover {
	color: var(--color-text-secondary);
}

.bold {
	font-weight: 600;
	margin-inline: 2px;
}

.max-content-w {
	@apply max-w-3xl mx-5;
}
