@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Rufina:wght@400;700&display=swap');

:root {
  font-family: "Roboto", 'Times New Roman', Times, serif;
  --black: #222222;
  --white: #FAFAFA;
  --light-grey: #E8E5E5;
  --dark-grey: #B0B0B0;
  --light-blue: #142B47;
  --dark-blue: #0B192C;
  --light-red: #FF5153;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h1 span,
h1 span,
h1 span {
  color: var(--light-red);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
}